name: Build-Exploit
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Compile with MSVC
        shell: cmd
        run: |
          cl.exe CVE-2017-0213.cpp /FE:exploit_x64.exe /EHsc /DUNICODE /D_UNICODE ole32.lib oleaut32.lib user32.lib shlwapi.lib advapi32.lib shell32.lib
          
      - name: Save Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Compiled-Exploit
          path: exploit_x64.exe
