name: Build-Exploit
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Compile Exploit
        run: |
          g++ CVE-2017-0213.cpp -o exploit_x64.exe -lole32 -loleaut32 -lshlwapi -luser32 -static
      - name: Save Artifact
        uses: actions/upload-artifact@v3
        with:
          name: Compiled-Exploit
          path: exploit_x64.exe
